@import "tailwindcss";

@font-face {
	font-family: "inter";
	src: url("./fonts/Inter/static/Inter_18pt-Medium.ttf");
}

@font-face {
	font-family: "opensans";
	src: url("./fonts/Open_Sans/static/OpenSans-Medium.ttf");
}

@font-face {
	font-family: "outfit";
	src: url("./fonts/Outfit/static/Outfit-Medium.ttf");
}

@font-face {
	font-family: "roboto";
	src: url("./fonts/Roboto_Condensed/static/RobotoCondensed-Medium.ttf");
}

@layer base {
	small {
		@apply text-accent block mb-1 font-inter;
	}
}

@utility flex-center {
	@apply flex justify-center items-center;
}

@utility flex-start {
	@apply flex justify-start items-center;
}

@utility flex-between {
	@apply flex justify-between items-center;
}

@utility flex-end {
	@apply flex justify-end items-center;
}

@utility btn-primary {
	@apply py-1 bg-primary text-white rounded-md px-3 hover:bg-transparent hover:text-primary border-1 border-primary cursor-pointer;
}

.test {
	color: #d4d3d6;
}

@theme {
	--color-primary: #231e88;
	--color-secondary: #111827;
	--color-accent: rgb(121, 120, 120);
	--color-accentLight: #d4d3d6;
	--color-bg: rgb(238, 240, 241);
	--color-bg2: rgb(218, 220, 221);
	--font-inter: "inter";
	--font-open: "opensans";
	--font-outfit: "outfit";
	--font-roboto: "roboto";
}