@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: "inter";
	src: url("./fonts/Inter/static/Inter_18pt-Medium.ttf");
}

@font-face {
	font-family: "opensans";
	src: url("./fonts/Open_Sans/static/OpenSans-Medium.ttf");
}

@font-face {
	font-family: "outfit";
	src: url("./fonts/Outfit/static/Outfit-Medium.ttf");
}

@font-face {
	font-family: "roboto";
	src: url("./fonts/Roboto_Condensed/static/RobotoCondensed-Medium.ttf");
}

@font-face {
	font-family: "jsans";
	src: url("./fonts/PlusJakartaSans-Medium.ttf");
}

@layer base {
	small {
		@apply text-gray-500 block mb-1 font-inter cursor-pointer hover:text-white;
	}
}

@utility flex-center {
	@apply flex justify-center items-center;
}

@utility flex-start {
	@apply flex justify-start items-center;
}

@utility flex-between {
	@apply flex justify-between items-center;
}

@utility flex-end {
	@apply flex justify-end items-center;
}

@utility btn-primary {
	@apply py-1 bg-primary text-white rounded-md px-3 hover:bg-transparent hover:text-primary border-1 border-primary cursor-pointer;
}

@utility home-mobile-link {
	@apply mb-5 cursor-pointer font-open;
}

@utility home-mobile-link-active {
	@apply text-lg mb-5 text-primary cursor-pointer font-open;
}

@utility home-dsk-link {
	@apply font-open cursor-pointer;
}

@utility home-dsk-link-active {
 @apply text-primary font-open cursor-pointer;
}

@utility nav-link {
	@apply flex-start gap-1 text-accent cursor-pointer ml-1 font-outfit hover:text-white;
}

@utility nav-link-active {
	@apply flex-start gap-1 text-white cursor-pointer ml-1 font-outfit;
}

@utility radio {
	@apply text-accent border-accentLight font-open border-1 text-sm flex-start gap-2 p-3 rounded-md mt-4 cursor-pointer;
}

@utility radio-active {
	@apply text-white border-primary bg-primary font-open border-1 text-sm flex-start gap-2 p-3 rounded-md mt-4 cursor-pointer;
}

.ProseMirror:focus {
	outline: none;
}

@utility step {
	@apply h-8 w-8 rounded-full bg-gray-400 flex-center font-inter text-white
}

@utility step-active {
	@apply h-8 w-8 rounded-full bg-primary flex-center font-inter text-white;
}

@theme {
	--color-primary: #231e88;
	--color-secondary: #111827;
	--color-dark: #130f1e;
	--color-accent: rgb(121, 120, 120);
	--color-accentLight: #d4d3d6;
	--color-accentXLight: #f1f1f1;
	--color-bg: rgb(238, 240, 241);
	--color-bg2: rgb(218, 220, 221);
	--color-fade: rgba(0, 0, 0, 0.2);
	--font-inter: "inter";
	--font-open: "opensans";
	--font-outfit: "outfit";
	--font-roboto: "roboto";
	--font-jsans: "jsans";
}